#album-artwork {
	width: 24rem;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ddd;
}

#album-tracklist {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-basis: 0;
	flex-shrink: 0;
	flex-grow: 1;
}

#album-single-track {
	display: grid;
	grid-template-columns: 3rem 1fr;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#album-single-track p {
	color: #181d31;
	font-weight: 500;
}

.dark #album-single-track p {
	color: #ddd;
}

#album-single-track small {
	font-size: 1.5rem;
	color: #333;
}

.dark #album-single-track small {
	color: #ccc;
}

#album-single-track:hover p {
	text-decoration: underline;
}
