#error {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	flex-grow: 1;
}

#error h1 {
	font-size: 5rem;
	color: #111;
}

#error p {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #222;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	#error h1 {
		color: #eee;
	}

	#error p {
		color: #ddd;
	}
}
