footer {
	background-color: #ffcd38;
	padding: 1rem 0;
}

footer a {
	font-weight: 500;
	color: #1b1a17;
	transition: 0.3s ease text-decoration;
	font-size: 1.4rem;
	text-transform: uppercase;
}

footer a:hover {
	text-decoration: underline;
}

#footer-container {
	width: 1024px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

#footer-links {
	display: flex;
	gap: 1rem;
}

#version {
	font-size: 1.3rem;
	color: #1b1b1b;
}

@media screen and (max-width: 1080px) {
	#footer-container {
		width: 100%;
		padding: 0 2rem;
		box-sizing: border-box;
	}
}

@media (prefers-color-scheme: dark) {
	footer {
		background-color: #fec260;
	}
}
