#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#container {
	display: grid;
	padding: 5rem 0;
	grid-template-columns: 24rem calc(1024px - 56rem) 24rem;
	width: 1024px;
	margin: 0 auto;
	gap: 4rem;
	flex: 1;
}

.main {
	flex-grow: 1;
}

@media screen and (max-width: 1080px) {
	#container {
		padding: 3rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		width: calc(100vw - 4rem);
		;
	}
}
