{{define "head"}}
    <head>
		<title>dumb</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://unpkg.com/htmx.org@1.9.7"></script>
	</head>
{{end}}