<!DOCTYPE html>
<html>
	<head>
		<title>dumb</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<nav>
			<a href="/"><img src="/static/logo.svg" /></a>
		</nav>

		<div id="home">
			<div>
				<h1>Welcome to dumb</h1>
				<p>An alternative frontend for genius.com</p>
			</div>
			<code>Just redirect Genius URLs to this instance and It's all good.</code>
		</div>
	</body>
</html>
