<!DOCTYPE html>
<html>
	<head>
		<title>dumb</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<main id="app">
			{{template "navbar"}}
			<div id="home">
				<div>
					<h1>Welcome to dumb</h1>
					<p>An alternative frontend for genius.com</p>
				</div>
				<form method="GET" action="/search">
					<input type="text" name="q" id="search-input" placeholder="Search..." />
				</form>

			</div>
			{{template "footer"}}
		</div>
	</body>
</html>
