package views

type LayoutOpts struct {
	title         string
	hideNavSearch bool
}

templ layout(opts *LayoutOpts) {
	<!DOCTYPE html>
	<html lang="en">
		@head(opts.title)
		<body>
			<main id="app">
				@navbar(opts.hideNavSearch)
				{ children... }
				@footer()
			</main>
		</body>
	</html>
}
