package views 

templ layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		@head(title)
		<body>
			<main id="app">
				@navbar()
				{ children... }
				@footer()
			</main>
		</body>
	</html>
}
