<div id="search-results">
{{range .Sections}}
    {{if eq .Type "song"}}
        <h1>Songs</h1>
        {{range .Hits}}
            <a id="search-item" href="{{.Result.Path}}">
                <img src="{{extractURL .Result.Thumbnail}}"/>
                <div>
                    <span>{{.Result.ArtistNames}}</span>
                    <h2>{{.Result.Title}}</h2>
                </div>
            </a>
        {{end}}
    {{end}}
{{end}}
</div>